:root {
  --primary-color: rgba(218, 98, 101, 1);
  --secondary-color: rgba(96, 111, 199, 1);

  --primary-text-color: rgba(25, 33, 68, 1);
  --secondary-text-color: rgba(218, 98, 101, 1);
  --tertiary-text-color: rgba(255, 255, 255 , 1);
  --quaternary-text-color: rgba(147, 132, 183 , 1);

  --primary-bg-color: rgba(255, 255, 255 , 1);
  --secondary-bg-color: rgba(232, 231, 234 , 1);
  --tertiary-bg-color: rgba(218, 98, 101, 1);
}