// GOTHAM FONTS
@font-face {
  font-family: 'Gotham Pro';
  font-style: normal;
  font-weight: normal;
  src: local('Gotham Pro'), url('./fonts/GothaProReg.woff') format('woff');
  }
@font-face {
  font-family: 'Gotham Pro Medium';
  font-style: normal;
  font-weight: normal;
  src: local('Gotham Pro Medium'), url('./fonts/GothaProMed.woff') format('woff');
  }
@font-face {
  font-family: 'Gotham Pro Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Gotham Pro Bold'), url('./fonts/GothaProBol.woff') format('woff');
}

// Fira Sans
@import url('https://fonts.googleapis.com/css?family=Fira+Sans&display=swap');