body {
  font-family: 'Fira Sans', sans-serif;
}

.layout {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  img {
    width: 100%;
  }
}

.section {
  min-height: 650px;
  height: 100vh;
  width: 96%;
  padding: 2px 2%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

p {
  font-family: 'Fira Sans', sans-serif;
  font-weight: lighter;
  font-size: 0.9em;
  text-align: justify;
}

h1,
h2,
h3 {
  font-family: 'Fira Sans', sans-serif;
  font-weight: bolder;
}

h1 {
  font-size: 1.5em;
}

h2 {
  font-size: 1.4em;
}

h3 {
  font-size: 1.2em;
  color:gray;
}

.button {
  border-radius: 5px;
  background: tomato;
  font-size: 1.1em;
  color:white;
  border:none;
  min-height: 37px;
  min-width: 100px;
}

.input {  
  font-size: 1.1em;
  border-radius: 5px;
  min-height: 35px;
  min-width: 100px;
  border:1px solid lightgrey;

}