body {
  font-family: 'Fira Sans', sans-serif;
}

.layout {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  img {
    width: 100%;
  }
}

p {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 100;
  font-size: 1em;
  text-align: justify;
  line-height: 1.4;
}

h1,
h2,
h3 {
  font-family: 'Fira Sans', sans-serif;
  font-weight: bolder;
  margin-bottom: 5px;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.8em;
}

h3 {
  font-size: 1.5em;
  color: gray;
}