body {
  font-family: 'Gotham Pro';
}

.layout {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  img {
    width: 100%;
  }
}

p {
  font-family: 'Gotham Pro';
  font-weight: 100;
  font-size: 1.2em;
  text-align: left;
  line-height: 1.4;
  color: var(--primary-text-color);
}

h1,
h2,
h3 {
  font-family: 'Gotham Pro Medium';
  margin-bottom: 5px;
  color: var(--primary-text-color);
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 2.5em;
}

h3 {
  font-size: 2em;
}

@media (min-width: 992px) {
  h1 {
    font-size: 2.8em;
  }

  h2 {
    font-size: 2.8em;
  }

  h3 {
    font-size: 1.8em;
  }
}

.hidden {
  display: none !important;
}

// BOOTSRAP OVERRIDE
.btn {
  font-family: 'Gotham Pro Medium';
  height: 60px;    
  border-radius: 0;
}