@mixin vertical-center {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.inline-flex {
  display:flex;
  flex-flow:row;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
}