@import '../../style/utils.scss';

.main-footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  background-color: rgb(243, 243, 243);

  .general-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 96%;
    padding: 0 2%;
    height: 30%;

    .links {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      margin: 5% 0;

      a {
        margin-bottom: 1%;
        margin-top: 1%;
        font-size: 1.2em;
        color: black;
        text-transform: uppercase;
        text-decoration: none;
      }
    }
    .subscribe {
      > *,
      > div > * {
        padding-bottom: 3%;
      }

      form {
        display: flex;
        justify-content: space-evenly;
        flex-flow: row;
      }
    }
  }

  .partners {
    width: 96%;
    padding: 0 2%;
    height: 40%;
  }

  .footer-end {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: 1px solid black;
    height: 50px;

    width: 96%;
    padding: 0 2%;

    div {
      display: flex;
      align-items: center;
      flex-flow: row;
      flex-wrap: nowrap;
    }
    div:last-child {
      text-align: right;
    }

    .back-to-top {
      border: none;
      background: none;
    }
  }
}
