.login-wrapper{
    background:var(--ion-color-primary);
    border-radius:15px;
    color:white;
}

.error-wrapper{
    background:var(--ion-color-danger);
    border-radius:15px;
    color:white;
}


