    .login {
        padding: 20px;
        padding-bottom: 75px;
        margin: 0 auto;
        background-color: var(--ion-color-primary-tint);
        text-align: left;
        max-width: 650px;
    }

    .no_account_div {
        padding: 20px;
        margin: 0 auto;
        text-align: left;
        max-width: 650px;
    }
    
    .main {
        margin: 0 auto;
        text-align: center;
        background: #E8E7EA;
        height: 100%;
    }
    
    .modos_img {
        margin: 0 auto;
        max-width: 280px;
    }
