#map-app {
  width: 100vw;
  height: 100vh;
}

#map-app-navbar {
  height: 65px;
}

#map-app-container {
  position: relative;
  width: 100%;
  height: calc(100% - 65px);
}

#map {
  width: 100%;
  height: 100%;
  z-index: 1;
}

#map-app-navigation-panel {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 10;
  padding: 10px;
}

#map-app-observation-panel {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 10;
  padding: 10px;
}

.navbar-btn {
  background: none;
  border: none;
}

.geocodinginput-suggestions {
  max-height: 250px;
  overflow-y: auto;
  position: absolute;
  z-index: 99;
  top: 100%;
  width: 100%;
}

#map-legends {
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 20);
  border-radius: 5px;
  padding: 5px;
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
  #map-app-navigation-panel {
    width: 30%;
  }

  #map-app-observation-panel {
    overflow-wrap: break-word;
    width: 30%;
  }
}
