@import '../style/utils.scss';

.btn-primary {
  text-transform: uppercase;
  background-color: var(--primary-btn-color);
  border-color: var(--primary-btn-color);
}

.section {
  padding-top: 4%;
  padding-bottom: 4%;
  min-height: 650px;
}

#homepage-title {
  background: url('../public/assets/mobile/banner-home-mobile.svg') no-repeat #fff;
  background-size: cover;
  background-position: top;
  display:flex;
  align-items: center;
  justify-content: center;
  padding-top:150px;

  p {
    font-size: 1.2em;
    font-family: 'Gotham Pro Bold';
    text-transform: uppercase;
    text-align: center;
    color: var(--secondary-text-color);
    background:rgba(255,255,255,0.80);
    width: 250px;
    height: 250px;
    padding: 10px;
    border-radius: 50%;
    display:flex;
    align-items: center;
  }
}

#project-section {
  padding-bottom: 50vh;
  background: url('../public/assets/mobile/home-intro-mobile-nobackground.svg')
    no-repeat;
  background-position: bottom center;
  background-size: auto 50vh;
  background-color: var(--secondary-bg-color);

  #project-link {
    margin-top: 30px;
    width: 100%;
    background-color: var(--primary-btn-color);
  }
}

#map-section {
  position: relative;
  width: 100%;
  height: 100vh;

  background: url('../public/assets/mobile/home-map-mobile.svg') no-repeat;
  background-position: center center;
  background-size: 100% 100%;
  background-color: var(--secondary-bg-color);

  display:flex;
  justify-content: center;
  align-items: center;

  p{
    font-family: 'Gotham Pro Bold';
    width: 200px;
    height: 200px;
    border-radius: 50%;
    color:white;
    text-transform: uppercase;
    font-size: 1.1em;
    text-align: center;
    background-color: var(--primary-btn-color);
    border: 10px solid var(--tertiary-bg-color);
    box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.3);
    display:flex;
    justify-content: center;
    align-items: center;
  }
}

#contribute-section {
  background-color: var(--secondary-bg-color);

  .contribute-mobile-flow,
  .contribute-desktop-flow {
    h1,
    h2,
    h3,
    p {
      color: var(--secondary-text-color);
      font-family: 'Gotham Pro Bold';
      text-align: center;
      text-transform: uppercase;
      font-size: 0.8em;
    }
  }

  .contribute-mobile-flow-col {
    padding: 0;
  }

  .contribute-mobile-flow {
    
    .custom-carousel-indicators {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-flow: row;
      margin-top:10px;
      margin-bottom: 30px;

      .custom-carousel-indicator {
        background-color: var(--quaternary-bg-color);
        border-radius: 50%;
        width: 15px;
        height: 15px;
        margin: 0 10px;
      }

      .custom-carousel-indicator.active {
        background-color: var(--tertiary-bg-color);
        width: 20px;
        height: 20px;
      }
    }
  }
  .contribute-desktop-flow {
    display: none;
  }
}

#contribute-action {
  background-color: rgba(215, 213, 218, 1);

  .contribute-action-items {
    display: flex;
    flex-flow: column;
    width: 100%;
  }

  .contribute-action-item {
    background-color: var(--tertiary-color);
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    margin: 5% 0% 5% 0%;
    width: 100%;
    min-height: 50vh;
    box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.1);
    padding: 20px 10%;
    p {
      text-align: center;
    }

    .contribute-action-item-pic {
      position: relative;
      border-radius: 50%;
      background: white;
      height: 200px;
      width: 200px;
      margin-bottom: 10%;
      img {
        position: absolute;
        min-width: 250px;
        left: calc((200px * 0.5) - (250px * 0.5));
        top: -50px;
      }
    }
  }

  button {
    width: 80%;
    margin: 3% 10%;
    background-color: var(--primary-btn-color);
  }
}
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  #homepage-title {
    background-image: url('../public/assets/desktop/banner-home-desktop.svg');
    background-size: auto 100%;
    p {
      
    }
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  #homepage-title {
    
  }

  #project-section {
  }

  .contribute-desktop-flow {
    position: relative;

    div{
      position: absolute;
      bottom:15%;
      width: 100%;
      display:flex;
      flex-flow: row;
      justify-content: center;
      align-content: center;
      p {
        width: 25%;
        text-align: center;
        margin:0 30px;
      }
    }
  }

  #map-section {
    background-image: url('../public/assets/desktop/home-map-desktop.svg');
    background-size: cover;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  #homepage-title {
    height: 100vh;
    
  }

  #project-section {
    height: 100vh;
    padding-left: 40%;
    padding-bottom: 0;
    background-image: url('../public/assets/mobile/home-intro-mobile-background.svg');
    background-position: left center;
    background-size: auto 100%;

    h2 {
      margin-bottom: 5%;
    }

    #project-link {
      width: 350px;
    }
  }

  #contribute-section {
    padding-top: 8em;
    padding-bottom: 8em;
    h2 {
      font-size: 4em;
      width: 60%;
    }

    .contribute-description{
      p {
        columns: 2;
        column-gap: 8%;
      }
    }

    .contribute-mobile-flow {
      display: none;
    }

    .contribute-desktop-flow {
      display: block;
    }
  }

  #contribute-action {
    .contribute-action-items {
      flex-flow: row;
      flex-wrap: wrap;
      justify-content: center;
    }

    .contribute-action-item {
      margin: 5% 2% 5% 2%;
      padding: 40px 5% 20px 5%;
      width: 28%;
      min-width: 300px;
    }

    button {
      width: 100%;
      margin: 3% 0%;
    }
  }

  #contact-us {
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  #homepage-title {    
    
  }
}
