.background-impact-0 {
    background-color: black;
}

.background-impact-1 {
    background-color: black;
}

.background-impact-2 {
    background-color: black;
}

.background-impact-3 {
    background-color: black;
}

.background-impact-4 {
    background-color: blue;
}

.background-impact-5 {
    background-color: black;
}