
.headerDiv {
    background-image: url('/images/menu_header.svg');
    background-size: contain;
    background-repeat: no-repeat;
    width: 1200px;
    height: 320px;
  }

  .headerSofaapp{
      font-size: 24px;
      font-weight: bold;
  }

  .headerTitle{
      font-size: 48px;
      font-weight: bold;
      text-transform: uppercase;
      text-align: left;
  }

  .headerTitle span {
    display: table-cell;
    vertical-align: bottom;
    height: 100px;
  }

  .headerSubtitle{
      font-size: 24px;
      text-transform: uppercase;
      text-align: left;
  }