:root {
    --primary-color: #826daf;
    --secondary-color: rgba(96, 111, 199, 1);
    --tertiary-color: rgba(232, 231, 234, 1);
    --primary-text-color: rgba(25, 33, 68, 1);
    --secondary-text-color: #826daf;
    --tertiary-text-color: rgba(255, 255, 255, 1);
    --quaternary-text-color: rgba(147, 132, 183, 1);
    --primary-bg-color: rgba(255, 255, 255, 1);
    --secondary-bg-color: rgba(232, 231, 234, 1);
    --tertiary-bg-color: #826daf;
    --quaternary-bg-color: rgba(222, 62, 79, 0.25);
    --quinary-bg-color: rgba(241, 241, 241, 1);
    --primary-btn-color: rgba(222, 62, 79, 1);
    --secondary-btn-color: rgba(96, 111, 199, 1);
    --ion-color-primary: #826daf;
    --ion-color-primary-rgb: 130, 109, 175;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255, 255, 255;
    --ion-color-primary-shade: #72609a;
    --ion-color-primary-tint: #8f7cb7;
    --ion-color-secondary: #39b0ce;
    --ion-color-secondary-rgb: 57, 176, 206;
    --ion-color-secondary-contrast: #000000;
    --ion-color-secondary-contrast-rgb: 0, 0, 0;
    --ion-color-secondary-shade: #329bb5;
    --ion-color-secondary-tint: #4db8d3;
    --ion-color-tertiary: #47509d;
    --ion-color-tertiary-rgb: 71, 80, 157;
    --ion-color-tertiary-contrast: #ffffff;
    --ion-color-tertiary-contrast-rgb: 255, 255, 255;
    --ion-color-tertiary-shade: #3e468a;
    --ion-color-tertiary-tint: #5962a7;
    --ion-color-success: #27a491;
    --ion-color-success-rgb: 39, 164, 145;
    --ion-color-success-contrast: #ffffff;
    --ion-color-success-contrast-rgb: 255, 255, 255;
    --ion-color-success-shade: #229080;
    --ion-color-success-tint: #3dad9c;
    --ion-color-warning: #fcc300;
    --ion-color-warning-rgb: 252, 195, 0;
    --ion-color-warning-contrast: #000000;
    --ion-color-warning-contrast-rgb: 0, 0, 0;
    --ion-color-warning-shade: #deac00;
    --ion-color-warning-tint: #fcc91a;
    --ion-color-danger: #de3e4f;
    --ion-color-danger-rgb: 222, 62, 79;
    --ion-color-danger-contrast: #ffffff;
    --ion-color-danger-contrast-rgb: 255, 255, 255;
    --ion-color-danger-shade: #c33746;
    --ion-color-danger-tint: #e15161;
    --ion-color-dark: #12316c;
    --ion-color-dark-rgb: 18, 49, 108;
    --ion-color-dark-contrast: #ffffff;
    --ion-color-dark-contrast-rgb: 255, 255, 255;
    --ion-color-dark-shade: #102b5f;
    --ion-color-dark-tint: #2a467b;
    --ion-color-medium: #989aa2;
    --ion-color-medium-rgb: 152, 154, 162;
    --ion-color-medium-contrast: #ffffff;
    --ion-color-medium-contrast-rgb: 255, 255, 255;
    --ion-color-medium-shade: #86888f;
    --ion-color-medium-tint: #a2a4ab;
    --ion-color-light: #f4f5f8;
    --ion-color-light-rgb: 244, 244, 244;
    --ion-color-light-contrast: #000000;
    --ion-color-light-contrast-rgb: 0, 0, 0;
    --ion-color-light-shade: #d7d8da;
    --ion-color-light-tint: #f5f6f9;
}